<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <link rel="apple-touch-icon" sizes="76x76" href=".../static/assets/img/apple-icon.png">
    <link rel="icon" type="image/png" href="../static/assets/img/favicon.png">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <title>大魔导师的Aghanim</title>
    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no' name='viewport' />
    <!--     Fonts and icons     -->
    <!--<link href="../static/assets/fonts/googleapis" rel="stylesheet" />-->
    <link href="../static/assets/css/all.css" rel="stylesheet">
    <!-- CSS Files -->
   <link href="../static/assets/css/bootstrap.min.css" rel="stylesheet" />
    <link href="../static/assets/css/now-ui-dashboard.min.css?v=1.0.1" rel="stylesheet" />
    <!-- CSS Just for demo purpose, don't include it in your project -->
    <link href="../static/assets/demo/demo.css" rel="stylesheet" />
    <link href="../static/res/myPage.css" rel="stylesheet" type="text/css" />
    <link href="../static/sweetalert/css/sweetalert2.min.css" rel="stylesheet" type="text/css" />
</head>
<style type="text/css">
    tbody tr:hover{
        background-color: #2fa8ec;

    }
    .click_color{
        background-color: #2fa8ec;
    }
</style>
<body class="">
    <div class="wrapper ">
        <div class="sidebar" data-color="orange">
            <!--
        Tip 1: You can change the color of the sidebar using: data-color="blue | green | orange | red | yellow"
    -->
            <div class="logo">
                <a href="#" class="simple-text logo-normal">
                    Aghanim
                </a>
            </div>
            <div class="sidebar-wrapper">
                <ul class="nav">
                    <li class="active">
                        <a href="">
                            <i class="now-ui-icons design_app"></i>
                            <p>Aghanim 检索引擎</p>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="main-panel">
            <!-- Navbar -->
            <nav class="navbar navbar-expand-lg navbar-transparent  navbar-absolute bg-primary fixed-top">
                <div class="container-fluid">
                    <div class="navbar-wrapper">
                        <div class="navbar-toggle">
                            <button type="button" class="navbar-toggler">
                                <span class="navbar-toggler-bar bar1"></span>
                                <span class="navbar-toggler-bar bar2"></span>
                                <span class="navbar-toggler-bar bar3"></span>
                            </button>
                        </div>
                        <a class="navbar-brand" href="#pablo">上次更新时间: {{latest_date}}</a>
                        <a class="navbar-brand" href="#pablo">当前总资源数: {{all_resource_num}}</a>
                    </div>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation" aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-bar navbar-kebab"></span>
                        <span class="navbar-toggler-bar navbar-kebab"></span>
                        <span class="navbar-toggler-bar navbar-kebab"></span>
                    </button>
                    <div class="collapse navbar-collapse justify-content-end" id="navigation">
                        <form>
                            <div class="input-group no-border">
                                <input id="searchInput" type="text" value="" class="form-control" placeholder="搜索...">
                                <span id="searchButton" class="input-group-addon" onclick="search('1')">
                                    <i class="now-ui-icons ui-1_zoom-bold"></i>
                                </span>
                            </div>
                            <div class="no-border" id="tip" style="display: none">
                                <label>检索中，请稍后。。。。。</label>
                            </div>
                        </form>
                    </div>
                </div>
            </nav>
            <!-- End Navbar -->
            <div id="lineChartBody" class="panel-header panel-header-lg">
                <canvas id="lineChart"></canvas>
            </div>
            <div class="content">
                <div class="row">
                    <div class="col-md-12">
                      <div class="card">
                        <div class="card-header">
                            <h5 class="card-category">搜索结果</h5>
                            <h4 class="card-title">搜索结果</h4>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                              <table class="table">

                                <thead class=" text-primary">
                                  <th >
                                    日期
                                  </th>
                                  <th >
                                    文件名称
                                  </th>
                                </thead>
                                <tbody style="min-height: 588px" id="searchResult">
                                <!--{% for item in data%}-->
                                  <!--<tr >-->
                                    <!--<td >-->
                                      <!--{{item[0]}}-->
                                    <!--</td>-->
                                    <!--<td >-->
                                      <!--{{item[1]}}-->
                                    <!--</td>-->
                                    <!--<td >-->
                                      <!--{{item[2]}}-->
                                    <!--</td>-->
                                  <!--</tr>-->
                                <!--{% endfor %}-->
                                </tbody>
                              </table>
                                <div>
                                    <ul class="pagination" id="pagination">
                                    </ul>
                                    <input type="hidden" id="PageCount" value="1"/>
                                    <input type="hidden" id="PageSize" runat="server" value="1" />
                                    <input type="hidden" id="countIndex" runat="server" value="10"/>
                                    <input type="hidden" id="currentPage" runat="server" value="1"/>
                                    <!--设置最多显示的页码数 可以手动设置 默认为7-->
                                    <input type="hidden" id="visiblePages" runat="server" value="10" />
                                </div>
                            </div>
                        </div>
                      </div>
                  </div>
                </div>
            </div>
            <footer class="footer">
                <div class="container-fluid">
                    <nav>
                        <ul>
                            <li>
                                <a href="#">
                                    Creative Tim
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    About Us
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    Blog
                                </a>
                            </li>
                        </ul>
                    </nav>
                    <div class="copyright">
                        &copy;
                        <script>
                            document.write(new Date().getFullYear())
                        </script>, Designed by
   Invision. Coded by
  Creative Tim.More Templates  - Collect from 
                    </div>
                </div>
            </footer>
        </div>
    </div>
</body>
<!--   Core JS Files   -->
<script src="../static/assets/js/core/jquery-1.10.2.js"></script>
<script src="../static/assets/js/core/popper.min.js"></script>
<script src="../static/assets/js/core/bootstrap.min.js"></script>
<script src="../static/res/jqPaginator.min.js" type="text/javascript"></script>
<link href="../static/res/myPage.css" rel="stylesheet" type="text/css" />

<script src="../static/assets/js/plugins/perfect-scrollbar.jquery.min.js"></script>
<!--  Google Maps Plugin    -->
<!-- Chart JS -->
<script src="../static/assets/js/plugins/chartjs.min.js"></script>
<!--  Notifications Plugin    -->
<script src="../static/assets/js/plugins/bootstrap-notify.js"></script>
<!-- Control Center for Now Ui Dashboard: parallax effects, scripts for the example pages etc -->
<script src="../static/assets/js/now-ui-dashboard.js?v=1.0.1"></script>
<!-- Now Ui Dashboard DEMO methods, don't include it in your project! -->
<script src="../static/assets/demo/demo.js"></script>
<script src="../static/res/myPage.js" type="text/javascript"></script>
<script src="../static/sweetalert/js/sweetalert2.min.js" type="text/javascript"></script>
<script>
    $("#searchResult").on("click",function(e){
    $(e.target).parent("tr").addClass("click_color");
    $(e.target).parent("tr").siblings("tr.click_color").removeClass("click_color");
});
    var local_chart = "none"
    var current_port = 'none'
    $(document).ready(function() {
        // Javascript method's body can be found in assets/js/demos.js
        // demo.initDashboardPageCharts();
        $("#mask").css("height",$(document).height());
        $("#mask").css("width",$(document).width());
        $("#mask").show();
    });
    function disable_search() {
        $("#searchInput").attr("disabled",true);
        $("#searchButton").hide()
        $("#tip").show();
    }
    function enable_search() {
        $("#searchInput").attr("disabled",false);
        $("#searchButton").show()
        $("#tip").hide();
    }
    function new_chart(x, y) {
        var canvas = document.getElementById('lineChart');
        canvas.remove()
        $('#lineChartBody').prepend('<canvas id=\"lineChart\"></canvas>');

        var canvas = document.getElementById('lineChart');
        var ctx = canvas.getContext("2d");

        var gradientStroke = ctx.createLinearGradient(500, 0, 100, 0);
          gradientStroke.addColorStop(0, '#80b6f4');
          chartColor = "#FFFFFF";
          gradientStroke.addColorStop(1, chartColor);

          var gradientFill = ctx.createLinearGradient(0, 200, 0, 50);
          gradientFill.addColorStop(0, "rgba(128, 182, 244, 0)");
          gradientFill.addColorStop(1, "rgba(255, 255, 255, 0.24)");
          local_chart = new Chart(ctx, {
              type: 'line',
              data: {
                  labels: x,
                  datasets: [{
                      label: "Data",
                      borderColor: chartColor,
                      pointBorderColor: chartColor,
                      pointBackgroundColor: "#1e3d60",
                      pointHoverBackgroundColor: "#1e3d60",
                      pointHoverBorderColor: chartColor,
                      pointBorderWidth: 1,
                      pointHoverRadius: 7,
                      pointHoverBorderWidth: 2,
                      pointRadius: 5,
                      fill: true,
                      backgroundColor: gradientFill,
                      borderWidth: 2,
                      data: y
                  }]
              },
              options: {
                  layout: {
                      padding: {
                          left: 20,
                          right: 20,
                          top: 0,
                          bottom: 0
                      }
                  },
                  maintainAspectRatio: false,
                  tooltips: {
                    backgroundColor: '#fff',
                    titleFontColor: '#333',
                    bodyFontColor: '#666',
                    bodySpacing: 4,
                    xPadding: 12,
                    mode: "nearest",
                    intersect: 0,
                    position: "nearest"
                  },
                  legend: {
                      position: "bottom",
                      fillStyle: "#FFF",
                      display: false
                  },
                  scales: {
                      yAxes: [{
                          ticks: {
                              fontColor: "rgba(255,255,255,0.4)",
                              fontStyle: "bold",
                              beginAtZero: true,
                              maxTicksLimit: 5,
                              padding: 10
                          },
                          gridLines: {
                              drawTicks: true,
                              drawBorder: false,
                              display: true,
                              color: "rgba(255,255,255,0.1)",
                              zeroLineColor: "transparent"
                          }

                      }],
                      xAxes: [{
                          gridLines: {
                              zeroLineColor: "transparent",
                              display: false,

                          },
                          ticks: {
                              padding: 10,
                              fontColor: "rgba(255,255,255,0.4)",
                              fontStyle: "bold"
                          }
                      }]
                  },
                  events : ["mousemove", "mouseout", "click"],
                    onClick : function (event, bars){
                    var activeElement = bars[0];   //当前被选中的元素
                    var index = activeElement._index
                        var x_value = activeElement._xScale.ticks
                    current_port = x_value[index]
                        search(1)

              }
              }
          });
    }
    function newPage(url) {
        window.open(url);
    };
    function showMask(){
        $("#mask").css("height",$(document).height());
        $("#mask").css("width",$(document).width());
        $("#mask").show();
    }
    //隐藏遮罩层
    function hideMask(){
        $("#mask").hide();
    }
    function loadData(current_page, total, page) {
        $("#PageCount").val(page);
        $("#countIndex").val(total);
        $("#currentPage").val(current_page);
        loadpage();
    };
    function search(page) {
        disable_search()
        var searchValue = $("#searchInput").val()
        $("#searchResult").empty();
        $.ajax({
            url:"/app/search",
            type: 'GET',
            dataType: 'json',
            data: {"key_words": searchValue,
                "page": page,
                "num": $("#PageSize").val(),
                "target_date": current_port},
            success:function(results){
                enable_search()
                var content = results['data'];
                console.log(results)
                new_chart(results['x_value'], results['y_value'])
                loadData(page, results['total'], results['total_page'])
                if(content.length == 0){
                    var item = '<tr>' +
                                    '<td>' + "无结果" +'</td>' +
                                    '<td>' + "无结果" +'</td>' +
                                '</tr>'

                    $("#searchResult").append(item)
                }
                for(var i=0; i<content.length; i++){
                    var item = '<tr onclick="newPage('+ "'" +content[i][3] + "'" +')">' +
                                    '<td><a href="#">' + content[i][2] +'</a></td>' +
                                    '<td><a href="#">' + content[i][0] +'</a></td>' +
                                '</tr>'
				    $("#searchResult").append(item)
                }
            }});
    };
</script>

</html>
